Q1. Create one variable containing following type of data: (i) string (ii) list (iii) float (iv) tuple

In [2]:
var = ['saurabh', [1,2,3,4,5], 2.5, (1,2,3,4,5) ]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) str
(ii) str
(iii) list
(iv) float

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

	(i) / - use for divide two value.
		10 / 2 = 5.0
	(ii) % - use for find remainder of two value
		5 % 2 = 1
	(iii) // - use for floor division
		15 // 2 = 7
	(iv) ** - use for find the power of value
		2**3 = 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [4]:
var =  [1, 2.5, 3.5,' 50', 'sam', (1,5,8,9), True, [2,5,8,9], False, 98]
for i in var:
	print( i)
	print(type(i))

1
<class 'int'>
2.5
<class 'float'>
3.5
<class 'float'>
 50
<class 'str'>
sam
<class 'str'>
(1, 5, 8, 9)
<class 'tuple'>
True
<class 'bool'>
[2, 5, 8, 9]
<class 'list'>
False
<class 'bool'>
98
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
A = int(input('Enter the value of A  '))
B = int(input('Enter the value of B  '))
count = 0
if A % B == 0:
    while B <= A:
        count +=1
        A -= B
    print(count)
else:
    print("the number A is not purely divisible by number B")

Enter the value of A   20
Enter the value of B   10

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [7]:
var = [5,8,9,4,852,9,912,94,3,15,25,34,647,51,65,67,62,67,39,20,578,22,23,24,27]
for i in var:
	if i % 3 == 0:
		print (str(i)+ ' divisible by 3')
	else:
		print (str(i)+ ' not divisible by 3')

5 not divisible by 3
8 not divisible by 3
9 divisible by 3
4 not divisible by 3
852 divisible by 3
9 divisible by 3
912 divisible by 3
94 not divisible by 3
3 divisible by 3
15 divisible by 3
25 not divisible by 3
34 not divisible by 3
647 not divisible by 3
51 divisible by 3
65 not divisible by 3
67 not divisible by 3
62 not divisible by 3
67 not divisible by 3
39 divisible by 3
20 not divisible by 3
578 not divisible by 3
22 not divisible by 3
23 not divisible by 3
24 divisible by 3
27 divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

mutable data types – Mutable data types are the objects that can be modified and altered means adding new elements , replacing an elements even after creating an object.
	Example:-
		List, Dictionary, set, Array

In [8]:
# Creating variable
var = [1,'sam','orange',2.5]
print(var)

# Update Value
var[2] = 'apple'
print(var)

[1, 'sam', 'orange', 2.5]
[1, 'sam', 'apple', 2.5]

immutable data types – Immutable data types are the objects that cannot be modified and altered means adding new elements , replacing an elements even after creating an object.
	Example:-
		String , Tupple